.topUl {
  display: flex;
  justify-content: center;
}

.topUl li {
  float: left;
  position: relative;
  width: 140px;
  text-align: center;
}
.topUl li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 2.5rem;
  z-index: 1;
  text-align: start;
}
.topUl li:hover ul {
  display: block;
  background-color: black;
}
.topUl li a {
  display: block;
  width: 140px;
  height: 40px;
  line-height: 50px;
  color: bisque;
}
.bottomUl li:hover {
  color: red;
  font-weight: bold;
}
