* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  color: black;
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: bisque;
  background-color: black;
}
.paginationActive a {
  color: bisque;
  background-color: black;
}
a.active {
  color: red;
  background-color: orange;
  font-size: large;
}
